*,body{
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, Sans-Serif;
}


.container{
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 15% auto;
  grid-template-areas:
    "header header header header"
    "main main main main"
}

.inputTodo{
  grid-area: header;
  background-color: #555555;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.textInput {
  width: 80%;
  padding: 1em 1.5em;
  margin: 1em;
  box-sizing: border-box;
  border-radius: 1em;
}

/* button ==========================================================================*/

.btn{
  background-color: #4CAF50;
  border: none;
  color: #fff;
  padding: 1em 1.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 1em;
  border-radius: 1em;
}

.btn:hover{
  background-color: #218A35;
  text-decoration: underline;
}

.btn--erase{
  background-color: #FF4747;
}

.btn--erase:hover{
  background-color: #D92314;
}

/* table ==========================================================================*/

.showTodo{
  grid-area: main;
  width: 100%;
  border-collapse: collapse;
}

.tableItem{
  border-bottom: 2px solid #fff;
}

.tableItem___part{
  width: 10%;
}

.tableItem___part--large{
  width: 90%;
}

.todoItemText{
  width: 100%;
  padding: 0 2em;
  font-size: 1.5em;
}

/* checked ==========================================================================*/
.checked{
  background-color: #4CAF50;
  color: black;
  text-decoration:line-through;
}

.checked .tableItem___part--checked{
  display: none;
}

.checked .tableItem___part--unchecked{
  display: block;
}

/* unchecked ==========================================================================*/

.unchecked{
  background-color: #e7e7e7;
}

.unchecked .tableItem___part--checked{
  display: block;
}

.unchecked .tableItem___part--unchecked{
  display: none;
}

/* mediaQuery ==========================================================================*/

@media (max-width: 1280px) {
  .textInput {
    width: 100%;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .container{
    grid-template-rows: 20% auto;
  }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .container{
    grid-template-rows: 25% auto;
  }
  .textInput, .btn, .todoItemText {
    font-size: 1.5em;
  }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .container{
    grid-template-rows: 30% auto;
  }
  .textInput, .btn, .todoItemText {
    font-size: 1.5em;
  }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .container{
    grid-template-rows: 30% auto;
  }
  .textInput, .btn, .todoItemText {
    font-size: 2em;
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .container{
    grid-template-rows: 30% auto;
  }
  .textInput, .btn, .todoItemText {
    font-size: 2em;
  }
}
